.pages {
    overflow: hidden;
    border-bottom: 3px solid #fec107;
    align-content: center;
}

.pages button {
    background-color: inherit;
    font-size: 14px;
    border: none;
    outline: none;
    cursor: pointer;
}
  
.pages button.active {
    background-color:  #fec107;
    font-size: 18px;
}
  
.year, .year {
    display: none;
}



