/* Extra small devices (phones) */
@media (max-width: 520px) { 
    .text-banner p{
        font-size:12px;
        line-height: 1.5;
    }
    
    .column{
        width:100%;
        padding: 10px 20px;
    }

    .news-module1{
        display: block;
        
    }
    .left-column{
        max-width: 100%;
    }

    .right-column{
        max-width: 100%;
    }

    .tab-module{
        padding: 10px 50px;
        
    }

    header img{
        height: 35px;
    }

    header .logos{
        padding: 20px 10px;
    }

    header .left-logo p{
        display: none;
    }

    header .left-logo a{
        font-size: 16px;
        line-height: 1.1;
    }

    header .right-logo p{
        font-size: 10px;
    }

    nav.nav ul:first-child {
        display:block;
        text-align: center;
    }


    nav.nav ul li {
        padding: 5px 0px;
    }

    .nav .menu-main_menu-container{
        background: #5e5e5e linear-gradient(to left, #5e5e5e, #393939 50%, #5e5e5e);
        opacity: 0.95;
    }

    .menu-main_menu-container{
        display: none;
    }

    .menu-main_menu-container.active{
        display:block;
    }

    .video video{
        width: 85%;
        height: 85%;
    }

 }

@media (min-width: 521px) and (max-width: 782px) { 
    .column{
        width:100%;
        padding: 10px 20px;
    }
    .news-module1{
        display: block;
        
    }
    .left-column{
        max-width: 100%;
    }

    .right-column{
        max-width: 100%;
    }

    .tab-module{
        padding: 10px 50px;
    }

    header img{
        height: 30px;
    }

    header .logos{
        padding: 20px 20px;
    }

    nav.nav ul:first-child {
        display:block;
        text-align: center;
    }


    nav.nav ul li {
        padding: 5px 0px;
    }

    .nav .menu-main_menu-container{
        background: #5e5e5e linear-gradient(to left, #5e5e5e, #393939 50%, #5e5e5e);
        opacity: 0.95;
    }

    .menu-main_menu-container{
        display: none;
    }

    .menu-main_menu-container.active{
        display:block;
    }

    .video video{
        width: 85%;
        height: 85%;
    }
 }

/* Small devices (tablets) */
@media (min-width: 783px) and (max-width: 900px) { 
   
    .column{
        width:100%;
        padding: 10px 20px;
    }

    .toggle{
        display: none;
    }

   
}

/* Medium devices (desktops) */
@media (min-width: 901px) and (max-width: 1199px) { 
    
    .column{
        width:70%;
        padding: 10px 20px;
    }
    .toggle{

        display: none;
        }
 }

/* Large devices (large desktops) */
@media (min-width: 1200px) { 
    .toggle{

    display: none;
    }
 }