.content-it-profession{
    display: none;
  }
  .content-it-profession.open{
    display: block;
  }

  .collapsible{
    background-color: inherit;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #43403a;
    border-bottom: 2px dotted #FF9800;
  }