.avatar img{
    max-width:120px;
    float: left; 
    padding-right:20px;
    margin: 3px;
}

.img {
    text-align: center;
}

.img img {
        max-width: 560px;
        width: 100%;
}

.aboutimg p{
    text-align: center;
}