ul {
    list-style: none;
    padding-inline-start: 0px;
}
.allmodule_item{
    padding: 10px 0px;
    font-family: sans-serif;
}

.allmode_title {
    margin: 10px 0px 5px;
    font-family: sans-serif;
}

a.allmode_link, .allmode_readmore a {
    font-size: 1.1em;
    text-transform: uppercase;
    color: #43403a;
    border-bottom: 2px dotted #FF9800;
    font-weight: bold;
}

footer, header{
    background: #fec107;
}